<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Food Diary</title>
  <!-- Bootstrap stylesheet-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link rel="stylesheet" href="css/normalize.css">
  <link href='http://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/main.css">

  <!--<div>Icons made by <a href="https://www.flaticon.com/authors/gregor-cresnar" title="Gregor Cresnar">Gregor Cresnar</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div> -->


  <header>
    <div class="header">
      <section>
        <div> <a class="home_header" href="index.html"><img class="header_icon" src="images/home.svg"></a> </div>
        <div>
          <a data-toggle="modal" class="help_header" data-target="#myModal" href="#"><img class="header_icon" src="images/info.svg"></a>
        </div>
        <div> <h1 class="pageName"> Food Diary </h1></div>

        <!-- The Modal -->
        <div id="myModal" class="mymodal" data-backdrop="false">
          <!-- Modal content -->
          <div class="mymodal_content">
            <span class="close" data-dismiss="modal">&times;</span>
            <p class="question" style="font-weight:lighter;margin-bottom:5px;margin-top:5px;">We're happy to help!</p>
            <form class="modal_popup">
              <label for="help">
                Please describe the issue you are having.
              </label>
              <textarea cols="40" id="help" name="help" rows="4"></textarea>
              <label for="feeling">How do you feel right now?</label>
              <select name="feeling" class="form-control">
                <option disabled selected value>Select an option</option>
                <option>Confused</option>
                <option>Frustrated</option>
                <option>Angry</option>
                <option>Worried</option>
                <option>Happy</option>
                <option>Excited</option>
                <option>Neutral</option>
              </select>

              <div name="submit" id="add_button">
                <button class="button" type="button">
                  Send Message
                </button>
              </div>
              <div class="form-group" id="done_button">
                <button data-dismiss="modal" class="done_button">Cancel</button>
              </div>
              <div id="clear">
              </div>
            </form>
          </div>

          <script src="modalpopup.js"></script>

        </div>

      </section>
    </div>
  </header>

  <body>
    <div class="mainContainer"> <!-- main container-->
      <a id="type_foods" class="newEntry" href="food_entry.html"> <p class="newEntry"> + New Food Entry </p> </a>
      <!-- Take a picture of the ingredients feature
      <a id="take_picture" class="newEntry" href="ingredients_picture.html"> <p class="newEntry"><img class="food_diary_icon" src="images/photo-camera2.svg"> &nbsp; Take a picture </p> </a>
    -->
  </div>

  <hr>
  <div>

    <div class="sectionContainer">
      <h2>
        <span class="date">Wednesday, </span>
        <span > October 25th </span>
      </h2>

      <br>
      {% for entry in entries %}
      <div>
        <div id="food_entries">
          <p class="food_diary_entry">
            {{ entry.content }}
          </p>
        </div>
        <div id="time_stamp">
          <p>
            {{ entry.created_at }}
          </p>
        </div>
        <div id="clear">
        </div>

        <hr class="underline">
        {% endfor %}

        <div id="food_entries">
          <p class="food_diary_entry">
            Sandwich with turkey, whole wheat bread, cheese, tomato, mustard
          </p>
        </div>
        <div id="time_stamp">
          <p>
            12:45pm
          </p>
        </div>
        <div id="clear">
        </div>
        <hr class="underline">
        <div id="food_entries">
          <p class="food_diary_entry">
            Banana, peanut butter
          </p>
        </div>
        <div id="time_stamp">
          <p>
            2:35pm
          </p>
        </div>
        <div id="clear">
        </div>

      </div>
    </div>

    <div class="sectionContainer">
      <h2>
        <span class="date">Tuesday, </span>
        <span > October 24th </span>
      </h2>

      <br>

      <div>
        <div id="food_entries">
          <p class="food_diary_entry">
            Apple, Oatmeal, Coffee, 2% Milk
          </p>
        </div>
        <div id="time_stamp">
          <p>
            7:55am
          </p>
        </div>
        <div id="clear">
        </div>

      </div>

    </div>

    <!-- Bootstrap JavaScript, jQuery, and Tether -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
    integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
    crossorigin="anonymous">
    </script>
    <script
    src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
    integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
    crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
    integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
    crossorigin="anonymous">
    </script>

  </body>


  </html>
