{% extends "template2.html" %}
{% block head_name %}Home{% endblock %}

{% block page_name %}Home{% endblock %}


{% block info %}
{% endblock %}


{% block body %}


<!-- Home Page Links -->
<body>
  <div class="mainContainer">
    <a class="homePages" href="food_diary.html">
      <p class="homePages">
        <img src="images/cutlery.svg" class="home_icon" alt = "Food Diary Icon">
        &nbsp;Food Diary
      </p>
    </a>
    <a class="homePages" href="bowel_diary.html">
      <p class="homePages">
        <img src="images/toilet2.svg" class="home_icon" alt="Bowel Diary Icon">
        &nbsp;Bowel Diary
      </p>
    </a>
    <a class="homePages" href="profile.html">
      <p class="homePages">
        <img src="images/user.svg" class="home_icon" alt="Profile Icon">
        &nbsp;Profile
      </p>
    </a>
  </div>

{% endblock %}

</html>
