<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up</title>
  <!-- Bootstrap stylesheet-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link rel="stylesheet" href="css/normalize.css">
  <link href='http://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/main.css">
  <link rel="icon"
      type="image/png" sizes="any"
      href="images/flavicon.png" >


</head>

<body style="background-color:#f4f7f8;">
  <div style="margin-top:20px;">
    <h2 class="home_title">Let's get started!</h2>

    <form style="margin-top:5px;">
      <label class="home" for="username">
        Username:
        <input class="home_field" type="text" name="username" x-webkit-speech/>
      </label>

      <label class="home" for="password">
        Password:
        <input class="home_field" type="password" name="password" />
      </label>

      <label class="home" for="password">
        Re-type password:
        <input class="home_field" type="password" name="password" />
      </label>

      <button class="home_button" name="submit" type="submit">
        Sign Up
      </button>

    </form>

    <p>

    <div class="home_footer_section">
      <div style="margin:auto;">
        <h2 class="home_footer">Already have an account?
          <a class="home_button_mini" href="login.html">
            Log In
          </a>
        </h2>
      </div>
    </div>


  </div>

  <!-- Bootstrap JavaScript, jQuery, and Tether -->
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

</body>


</html>
